name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Gera a cada 12 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: gustavofreiredev1
          outputs: |
            ./output/snake.svg

      - name: Push Snake to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: actions@github.com
          message: "Generated snake animation"
          add: "output/snake.svg"
